![Algoritmos e Estrutura de Dados I](AED1_banner.jpg)

## <font color='blue'>Aula 12 - Algoritmos e Estrutura de Dados 1 </font>
## <font color='blue'>Estruturas de Dados (Listas / Tuplas / Dicionários)</font>

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

## <font color='blue'>LISTAS...</font>
---
### Trabalhando com Listas

In [ ]:
# Criando uma lista
lista_1 = ["arroz, frango, tomate, leite"]

In [ ]:
type(lista_1)

In [ ]:
# Imprimindo a lista
print(lista_1)

In [ ]:
# Criando outra lista
lista_2 = ["arroz", "frango", "tomate", "leite"]

In [ ]:
type(lista_2)

In [ ]:
# Imprimindo a lista
print(lista_2)

In [ ]:
# Criando lista
lista_3 = [23, 100, "Cientista de Dados"]

In [ ]:
type(lista_3)

In [ ]:
# Imprimindo
print(lista_3)

In [ ]:
# Atribuindo cada valor da lista a uma variável.
item1 = lista_3[0]
item2 = lista_3[1]
item3 = lista_3[2]

In [ ]:
# Imprimindo as variáveis
print(item1, item2, item3)

In [ ]:
alunos = ['ana', 'pedro', 'maria']
notas = [9, 3.5, 6]

In [ ]:
for i in range(len(alunos)):
    print(f"O(a) estudante {alunos[i]} teve nota {notas[i]}!")

#### Atualizando Um Item da Lista

In [ ]:
lista_2

In [ ]:
# Imprimindo um item da lista
lista_2[2]

In [ ]:
# Atualizando um item da lista
lista_2[2] = "chocolate"

In [ ]:
# Imprimindo lista alterada
lista_2

#### Deletando Um Item da Lista

In [ ]:
lista_2

In [ ]:
# Não é possível deletar um item que não existe na lista. Vai gerar erro index out of range
del lista_2[4]

In [ ]:
# Deletando um item específico da lista
del lista_2[3]

In [ ]:
# Imprimindo o item com a lista alterada
lista_2

#### Listas de Listas (Listas Aninhadas)

Listas de listas são matrizes em Python.

In [ ]:
# Criando uma lista de listas
listas = [ [1,2,3], [10,15,14], [10.1,8.7,2.3] ]

In [ ]:
# Imprimindo a lista
print(listas)

In [ ]:
# Atribuindo um item da lista a uma variável
a = listas[0]

In [ ]:
listas[0][1]

In [ ]:
a

In [ ]:
b = a[0]

In [ ]:
b

In [ ]:
list1 = listas[1]

In [ ]:
list1

In [ ]:
valor_1_0 = list1[0]

In [ ]:
valor_1_0

In [ ]:
valor_1_2 = list1[2]

In [ ]:
valor_1_2

In [ ]:
list2 = listas[2]

In [ ]:
list2

In [ ]:
valor_2_0 = list2[0]

In [ ]:
valor_2_0

#### Operações com Listas

In [ ]:
# Criando uma lista aninhada (lista de listas - Matrizes)
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [ ]:
listas

In [ ]:
# Atribuindo à variável a o primeiro valor da primeira lista
a = listas[0][0]

In [ ]:
a

In [ ]:
b = listas[1][2]

In [ ]:
b

In [ ]:
c = listas[0][2] + 10

In [ ]:
c

In [ ]:
d = 10

In [ ]:
d

In [ ]:
e = d * listas[2][0]

In [ ]:
e

#### Concatenando Listas

In [ ]:
lista_s1 = [34, 32, 56]

In [ ]:
lista_s1

In [ ]:
lista_s2 = [21, 90, 51]

In [ ]:
lista_s2

In [ ]:
# Concatenando listas
lista_total = lista_s1 + lista_s2

In [ ]:
lista_total

### Operador in

In [ ]:
# Criando uma lista
lista_teste_op = [100, 2, -5, 3.4]

In [ ]:
# Verificando se o valor 10 pertence a lista
print(10 in lista_teste_op)

In [ ]:
# Verificando se o valor 100 pertence a lista
print(100 in lista_teste_op)

### Funções Built-in

In [ ]:
lista_s1.

![Listas](listas.jpg)

In [ ]:
# Criando uma lista
lista_numeros = [10, 20, 50, -3.4]

In [ ]:
# Função len() retorna o comprimento da lista
len(lista_numeros)

In [ ]:
# Função max() retorna o valor máximo da lista
max(lista_numeros)

In [ ]:
# Função min() retorna o valor mínimo da lista
min(lista_numeros)

In [ ]:
# Criando uma lista
lista_formacoes_dsa = ["Analista de Dados", "Cientista de Dados", "Engenheiro de Dados"]

In [ ]:
lista_formacoes_dsa

In [ ]:
# Adicionando um item à lista
lista_formacoes_dsa.append("Engenheiro de IA")

In [ ]:
lista_formacoes_dsa

In [ ]:
lista_formacoes_dsa.append("Engenheiro de IA")

In [ ]:
lista_formacoes_dsa

In [ ]:
lista_formacoes_dsa.count("Engenheiro de IA")

In [ ]:
# Criando uma lista vazia
a = []

In [ ]:
print(a)

In [ ]:
type(a)

In [ ]:
a.append(10)

In [ ]:
a

In [ ]:
a.append(50)

In [ ]:
a

In [ ]:
old_list = [1,2,5,10]

In [ ]:
new_list = []

In [ ]:
# Copiando os itens de uma lista para outra
for item in old_list:
    new_list.append(item)

In [ ]:
lista = []
while True:
    n = int(input("Digite um valor (-1 para sair): "))
    if n == -1:
        break
    lista.append(n)

print(lista)

In [ ]:
new_list

In [ ]:
cidades = ['Recife', 'Manaus', 'Salvador']
cidades.extend(['Fortaleza', 'Palmas'])
print (cidades)

In [ ]:
cidades.index('Salvador')

Lembre-se: em Python o índice começa por 0!

In [ ]:
cidades.index('Rio de Janeiro')

In [ ]:
cidades

In [ ]:
cidades.insert(2, 110)

In [ ]:
cidades

In [ ]:
# Remove um item da lista
cidades.remove(110)

In [ ]:
cidades

In [ ]:
# Reverte a lista
cidades.reverse()

In [ ]:
# Imprime a lista
cidades

In [ ]:
x = [3, 4, 2, 1]

In [ ]:
x

In [ ]:
# Ordena a lista
x.sort()

In [ ]:
x

## <font color='blue'>TUPLAS...</font>
---
### Trabalhando com Tuplas

In [5]:
# Imprimindo a tupla
tupla1

('Geografia', 23, 'Elefantes', 9.8, 'Python')

In [3]:
# Criando uma tupla
tupla1 = ("Geografia", 23, "Elefantes", 9.8, 'Python')

In [7]:
# Tuplas não suportam append()
tupla1.append("Chocolate")

AttributeError: 'tuple' object has no attribute 'append'

In [9]:
# Tuplas não suportam delete de um item específico
del tupla1["Elefantes"]

TypeError: 'tuple' object does not support item deletion

In [11]:
# Tuplas podem ter um único item
tupla1 = ("Chocolate")

In [13]:
tupla1

'Chocolate'

In [15]:
tupla1 = ("Geografia", 23, "Elefantes", 9.8, 'Python')

In [17]:
tupla1[0]

'Geografia'

In [19]:
# Verificando o comprimento da tupla
len(tupla1)

5

In [21]:
# Slicing, da mesma forma que se faz com listas
tupla1[1:]

(23, 'Elefantes', 9.8, 'Python')

In [23]:
tupla1.index('Elefantes')

2

In [25]:
# Tuplas não suportam atribuição de item
tupla1[1] = 21

TypeError: 'tuple' object does not support item assignment

In [27]:
# Deletando a tupla
del tupla1

In [29]:
tupla1

NameError: name 'tupla1' is not defined

In [31]:
# Criando uma tupla
t2 = ('A', 'B', 'C')

In [33]:
t2

('A', 'B', 'C')

In [35]:
# Tuplas não suportam atribuição de item
t2[0] = 'D'

TypeError: 'tuple' object does not support item assignment

In [37]:
# Usando a função list() para converter uma tupla para lista
lista_t2 = list(t2)

In [39]:
type(t2)

tuple

In [41]:
type(lista_t2)

list

In [43]:
lista_t2

['A', 'B', 'C']

In [45]:
lista_t2.append('D')

In [47]:
# Usando a função tuple() para converter uma lista para tupla
t2 = tuple(lista_t2)

In [49]:
t2

('A', 'B', 'C', 'D')

### Funções Built-in

![Tuplas](tuplas.jpg)

## <font color='blue'>DICIONÁRIOS...</font>
---
### Trabalhando com Dicionários

![Dicionários](dicionarios.jpg)

In [51]:
# Isso é uma lista
estudantes_lst = ["Pedro", 24, "Ana", 22, "Ronaldo", 26, "Janaina", 25]

In [53]:
estudantes_lst

['Pedro', 24, 'Ana', 22, 'Ronaldo', 26, 'Janaina', 25]

In [55]:
type(estudantes_lst)

list

In [57]:
# Isso é um dicionário
estudantes_dict = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [59]:
estudantes_dict

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

In [61]:
type(estudantes_dict)

dict

In [63]:
estudantes_dict["Pedro"]

24

In [65]:
estudantes_dict["Marcelo"] = 23

In [67]:
estudantes_dict["Marcelo"]

23

In [69]:
estudantes_dict

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25, 'Marcelo': 23}

In [71]:
estudantes_dict.clear()

In [73]:
estudantes_dict

{}

In [75]:
del estudantes_dict

In [77]:
estudantes_dict

NameError: name 'estudantes_dict' is not defined

In [79]:
estudantes = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [81]:
estudantes

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

In [83]:
len(estudantes)

4

In [85]:
estudantes.keys()

dict_keys(['Pedro', 'Ana', 'Ronaldo', 'Janaina'])

In [87]:
estudantes.values()

dict_values([24, 22, 26, 25])

In [89]:
estudantes.items()

dict_items([('Pedro', 24), ('Ana', 22), ('Ronaldo', 26), ('Janaina', 25)])

In [91]:
estudantes2 = {"Camila":27, "Adriana":28, "Roberta":26}

In [93]:
estudantes2

{'Camila': 27, 'Adriana': 28, 'Roberta': 26}

In [95]:
estudantes.update(estudantes2)

In [97]:
estudantes

{'Pedro': 24,
 'Ana': 22,
 'Ronaldo': 26,
 'Janaina': 25,
 'Camila': 27,
 'Adriana': 28,
 'Roberta': 26}

In [99]:
dic1 = {}

In [101]:
dic1

{}

In [103]:
dic1["chave_um"] = 2

In [ ]:
print(dic1)

In [105]:
dic1[10] = 5

In [107]:
dic1

{'chave_um': 2, 10: 5}

In [109]:
dic1[9.13] = "Python"

In [111]:
dic1

{'chave_um': 2, 10: 5, 9.13: 'Python'}

In [113]:
dic1["teste"] = 5

In [115]:
dic1

{'chave_um': 2, 10: 5, 9.13: 'Python', 'teste': 5}

In [117]:
dict1 = {}

In [119]:
dict1

{}

In [121]:
dict1["teste"] = 10

In [123]:
dict1["key"] = "teste"

In [125]:
# Atenção, pois chave e valor podem ser iguais, mas representam coisas diferentes.
dict1

{'teste': 10, 'key': 'teste'}

In [127]:
dict2 = {}

In [129]:
dict2["key1"] = "Data Science"

In [131]:
dict2["key2"] = 10

In [133]:
dict2["key3"] = 100

In [135]:
dict2

{'key1': 'Data Science', 'key2': 10, 'key3': 100}

In [137]:
a = dict2["key1"]

In [139]:
b = dict2["key2"]

In [141]:
c = dict2["key3"]

In [143]:
a, b, c

('Data Science', 10, 100)

In [145]:
# Dicionário de listas
dict3 = {'chave1':1230, 'chave2':[22,453,73.4], 'chave3':['picanha', 'fraldinha', 'alcatra']}

In [147]:
dict3

{'chave1': 1230,
 'chave2': [22, 453, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

In [149]:
dict3['chave2']

[22, 453, 73.4]

In [151]:
# Acessando um item da lista, dentro do dicionário
dict3['chave3'][0].upper()

'PICANHA'

In [153]:
# Operações com itens da lista, dentro do dicionário
var1 = dict3['chave2'][0] - 2

In [155]:
var1

20

In [157]:
# Duas operações no mesmo comando, para atualizar um item dentro da lista
dict3['chave2'][0] -= 2

In [159]:
dict3

{'chave1': 1230,
 'chave2': [20, 453, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

#### Criando Dicionários Aninhados

In [162]:
# Criando dicionários aninhados
dict_aninhado = {'key1':{'key2_aninhada':{'key3_aninhada':'Dict aninhado em Python'}}}

In [164]:
dict_aninhado

{'key1': {'key2_aninhada': {'key3_aninhada': 'Dict aninhado em Python'}}}

In [166]:
dict_aninhado['key1']['key2_aninhada']['key3_aninhada']

'Dict aninhado em Python'

### Funções Built-in

![Dicionários](dict.jpg)

## <font color='blue'>EXERCÍCIOS...</font>
---
### Exercícios sobre Listas

1. Faça um algoritmo que carregue um vetor de 10 elementos numéricos inteiros. Após a finalização da entrada, o algoritmo deve escrever o mesmo vetor, na ordem inversa de entrada.

In [ ]:
vetor = []

for i in range(10):
    numero = int(input("Digite um número inteiro: "))
    vetor.append(numero)

print("Vetor invertido:")
print(vetor[::-1])

Digite um número inteiro: 1
Digite um número inteiro: 2
Digite um número inteiro: 3
Digite um número inteiro: 4
Digite um número inteiro: 5
Digite um número inteiro: 6
Digite um número inteiro: 7
Digite um número inteiro: 8
Digite um número inteiro: 9
Digite um número inteiro: 10
Vetor invertido:
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

2. Faça um algorimto que carregue um vetor de 5 elementos numéricos inteiros. Após a finalização da entrada, o algoritmo deve escrever o maior valor e sua posição.

In [ ]:
vetor = []

for i in range(5):
    numero = int(input("Digite um número inteiro: "))
    vetor.append(numero)

    max(vetor)
    vetor.index(max(vetor))

print("O maior valor é", max(vetor), "e sua posição é", vetor.index(max(vetor)))

Digite um número inteiro: 1
Digite um número inteiro: 2
Digite um número inteiro: 3
Digite um número inteiro: 4
Digite um número inteiro: 5
O maior valor é 5 e sua posição é 4

3. Faça algoritmo que carregue dois vetores (listas) de cinco elementos numéricos cada um e mostre um vetor resultante na intercalação desses dois vetores

In [ ]:
lista1 = []
lista2 = []

for i in range(5):
    numero = int(input(f"Digite o {i + 1}º elemento da Lista 1: "))
    lista1.append(numero)

for i in range(5):
    numero = int(input(f"Digite o {i + 1}º elemento da Lista 2: "))
    lista2.append(numero)

print("Lista intercalada:", lista1 + lista2)

Digite um número inteiro para a primeira lista: 1
Digite um número inteiro para a primeira lista: 2
Digite um número inteiro para a primeira lista: 3
Digite um número inteiro para a primeira lista: 4
Digite um número inteiro para a primeira lista: 5
Digite um número inteiro para a segunda lista: 1
Digite um número inteiro para a segunda lista: 2
Digite um número inteiro para a segunda lista: 3
Digite um número inteiro para a segunda lista: 4
Digite um número inteiro para a segunda lista: 5
Lista intercalada: [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
# Exemplo de geração de números aleatórios (randômicos) entre 1 e 60
from random import randint
a = randint(1, 60)
print(a)

In [ ]:
# Exemplo de geração de 10 jogadas de dados
from random import randint
# Gerando 10 jogadas
for i in range (0,10):
    lado = randint(1, 6)
    print(lado, end=" ")

4. Faça um Algoritmo que simule 6000 jogadas de um dado de 6 faces. Para simular o resultado utilize a função randint  Ao final, mostre a frequência de sorteio de cada uma das faces

In [ ]:
import random

frequencia = {1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0}

for _ in range(6000):
    resultado = random.randint(1, 6)
    frequencia[resultado] += 1

print("Frequência de cada face após 6000 jogadas:")

for face in range(1, 7):
    print(f"Face {face}: {frequencia[face]} vezes")

Frequência de cada face após 6000 jogadas:
Face 1: 1010 vezes
Face 2: 982 vezes
Face 3: 990 vezes
Face 4: 1003 vezes
Face 5: 992 vezes
Face 6: 1023 vezes

5. Faça um algoritmo que simule a jogada de dois dados de 6 faces. O programa deve usar randint para rolar o primeiro dado e deve usar randint novamente para rolar o segundo dado. A soma das duas faces deve ser calculada. Assim: a soma variará de 2 a 12. O programa deve rolar 30.000 vezes e mostrar a frequência com que a soma (de 2 a 12) aparecem.  Verifique se o valor 7 corresponde a 1/6 das jogadas!

In [ ]:
import random

frequencia = {2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0, 12: 0}

for i in range(30000):
    dado1 = random.randint(1, 6)
    dado2 = random.randint(1, 6)
    soma = dado1 + dado2
    frequencia[soma] += 1

print("Frequência de cada soma após 30.000 jogadas:")
for soma in range(2, 13):
    print(f"Soma {soma}: {frequencia[soma]} vezes")

Frequência de cada soma após 30.000 jogadas:
Soma 2: 816 vezes
Soma 3: 1673 vezes
Soma 4: 2521 vezes
Soma 5: 3284 vezes
Soma 6: 4175 vezes
Soma 7: 5080 vezes
Soma 8: 4147 vezes
Soma 9: 3345 vezes
Soma 10: 2489 vezes
Soma 11: 1703 vezes
Soma 12: 767 vezes

6. Faça um algoritmo que leia uma matriz 2x2 e imprima os seus elementos na ordem:

1,1 =

1,2 =

2,1 =

2,2 =

Obs: linha, coluna

7. Faça um algoritmo que leia os dados de uma matriz de 4 linhas e 4 colunas, composta de elementos reais, e calcule a soma dos elementos da diagonal principal da matriz.

8. Faça um algoritmo que receba uma matriz de 5x5 com números reais. Ao final o algoritmo deve calcular e mostrar a média dos elementos que estão nas linhas pares da matriz.

### Exercícios sobre Tuplas

9. Faça um algoritmo que armazenará os 10 primeiros números primos acima de 100 em uma trupla. Ao final, o algoritmo deve mostrar os valores dessa estrutura de dados.

### Exercícios sobre Dicionários

10. Faça um algoritmo que carregue um dicionário de 10 elementos onde a chave é o sobrenome da pessoa e o valor a sua idade.
Após a finalização da entrada, o algoritmo deve escrever o sobrenome da pessoa com maior idade.

11. Faça um algoritmo que carregue um dicionário contendo nome e idade (pelo menos 5 pares). Depois de carregar, mostre todos os nomes que tenham idade maior que a média das idades.

12. Faça algoritmo que carregue duas listas de cinco elementos numéricos inteiros cada um. A partir dessas duas listas, crie um conjunto da união entre essas duas listas.

## Fim da Aula 12